In [1]:
from sklearn import datasets

In [2]:
boston = datasets.load_boston()

In [3]:
X = boston.data
Y = boston.target

In [4]:
X.shape

(506, 13)

In [5]:
Y.shape

(506,)

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(X,Y)

In [8]:
df.columns = boston.feature_names

In [9]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [10]:
ctr = 0
df1 = pd.DataFrame(X,Y)
for i in df:
    for j in df:
        print(ctr)
        ctr+= 1
        if i != j:
            df1[str(i) + "_" + str(j)] = df[i]*df[j]
for i in df:
    df1[str(i) + "_" + str(i)] = df[i]**2

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168

In [11]:
X1 = df1.values

In [12]:
from sklearn import model_selection

In [13]:
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y, random_state = 0)
X1_train, X1_test, Y1_train, Y1_test = model_selection.train_test_split(X1,Y, random_state = 0)

In [14]:
X_train.shape

(379, 13)

In [15]:
X1_train.shape

(379, 182)

In [16]:
from sklearn import linear_model

In [18]:
alg1 = linear_model.LinearRegression()
alg2 = linear_model.LinearRegression()

In [19]:
alg1.fit(X_train, Y_train)
alg2.fit(X1_train, Y1_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [22]:
alg1_score = alg1.score(X_train,Y_train)
alg2_score = alg2.score(X1_train,Y1_train)

In [23]:
print(alg1_score,alg2_score)
# Data is remembering the training data set more here

0.7697699488741149 0.9520519609032729

In [26]:
# Score on Testing Dataset
alg1_test_score = alg1.score(X_test, Y_test)
alg2_test_score = alg2.score(X1_test, Y1_test)
print(alg1_test_score, alg2_test_score)

0.635463843320211 0.6074721959660301